@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

.custom-slider .slick-slide > div {
    margin: 0 10px;
}
.custom-slider-detail .slick-slide > div {
    margin: 0px 15px;
    margin-bottom: 20px;
}
/* .custom-slider .slick-list {
    margin: 0 -10px;
} */
.custom-slider button.slick-next {
   margin: 0 0px;
}

.custom-slider button.slick-prev {
    margin: 0 -15px;

}
.custom-slider button.slick-next::before {
    color           : black;
    content         : '\276F';
    /* background-color: #b8b5b5; */
    width           : 30px;
    height          : 30px;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.custom-slider button.slick-prev::before {
    color           : black;
    content         : '\276E';
    /* background-color: #b8b5b5; */
    width           : 30px;
    height          : 30px;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

/* .custom-slider Pic
.image-slider button.slick-next {
    right  : 50px;
    z-index: 10;
}

.image-slider button.slick-prev {
    left   : 100px;
    z-index: 10;

}

.image-slider button.slick-next::before {
    color           : gray;
    content         : '\276F';
    background-color: #d30808;
    width           : 40px;
    height          : 40px;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.image-slider button.slick-prev::before {
    color           : gray;
    content         : '\276E';
    background-color: #d30808;
    width           : 40px;
    height          : 40px;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
} */

.my-masonry-grid {
    gap: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-right: 0px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    margin-bottom: 20px;
  }

.w350 {
    width: 350px;
}

code {
    white-space: initial;
}

/* ::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: #D3D3D3;
}

::-webkit-scrollbar-thumb {
    background   : linear-gradient(to bottom, #2234AE, #191714);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #5A585A, #090947);
} */